{% extends "base.html" %}

{% block title %}
Edit tv: {{ item.id }}
{% endblock title %}

{% block page_title %}
Edit tv: {{ item.id }}
{% endblock page_title %}

{% block content %}
<div class="mb-10">
    <form action="/tvs/{{ item.id }}" method="post" class="flex-1 lg:max-w-2xl">
    <div class="space-y-2">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for=":r2l:-form-item">name</label>
    <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm md:text-sm" id="name" name="name" type="text" value="{{item.name}}"  />
</div>
        <div class="space-y-2">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for=":r2l:-form-item">description</label>
    <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm md:text-sm" id="description" name="description" type="text" value="{{item.description}}"  />
</div>
        <div class="space-y-2">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for=":r2l:-form-item">genre</label>
    <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm md:text-sm" id="genre" name="genre" type="text" value="{{item.genre}}"  />
</div>
        <div class="space-y-2">
    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for=":r2l:-form-item">youtube_id</label>
    <input class="flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-sm md:text-sm" id="youtube_id" name="youtube_id" type="text" value="{{item.youtube_id}}"  />
</div>
        <div>
            <div class="mt-5">
                <button class=" text-xs py-3 px-6 rounded-lg bg-gray-900 text-white" type="submit">Submit</button>
                <button class="text-xs py-3 px-6 rounded-lg bg-red-600 text-white"
                            onclick="confirmDelete(event, '/tvs/{{ item.id }}', '/tvs' )">Delete</button>
            </div>
        </div> 
    </form>
    <div id="success-message" class="mt-4"></div>
    <br />
    <a href="/tvs">Back to tv</a>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}